target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
outgoing
temp*
submissions
extraclasspathfiles
graders
ta.csv

# Directories #
/build/
/bin/
target/

 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
 
# Locally stored "Eclipse launch configurations"
*.launch

# Emacs garbage
*~
configuration.properties
ta.csv
resources/**
analysis-document.txt
TA-grading-instructions.txt

# Ignore zip files, usually don't need them recorded.
*.zip